{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        input[type="checkbox"] {
            width: 50%;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <a class="btn btn-primary" href="{{ path('get_results') }}">
            Results
        </a>

        <h1 class="display-4">Simple test system</h1>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="card-deck mb-3 w-25">
            {{ form_start(form) }}

            {% for questionField in form %}
                <fieldset class="mb-4">
                    <legend>{{ form_label(questionField, null, {'label_attr': {'class': 'form-label'}}) }}</legend>
                    <div class="custom-checkbox-group">
                        {{ form_widget(questionField, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </fieldset>
            {% endfor %}

            {% if form|length > 0 %}
                <button type="submit" class="btn btn-outline-primary w-100">Submit Test</button>
            {% endif %}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
